@model List<Vidly.Models.Movie>

@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (!@Model.Any())
{
    <p>No Movies found.</p>
}
else 
{
    <ul class="list-group">
        @for (var i = 0; i < Model.Count(); i++)
        {
            var index = "movies/" + @i;
            var customerName = Model[i].Name;
            <li class="list-group-item">
                <a href="@index">@customerName</a>
            </li>
        }
    </ul>
}