@model Vidly.Models.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var className = Model.Customers.Count > 5 ? "Popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0) 
{
    <text>No Customers have rented this movie!</text>
}
else 
{
    
}

<ul>
    @foreach (var customer in Model.Customers) {
        <p>@customer.Name</p>
    }
</ul>

